@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "{}/node_modules/bootstrap/scss/_navbar.scss";
@import "{}/client/imports/app/colors.scss";
@import "./imports/app/colors.scss";
@import "./imports/app/fonts.scss";
@import "./imports/app/backgrounds.scss";
@import "./imports/app/custom-nav/custom-nav.component.scss";
@import "./imports/app/home/home.component.scss";
@import "./imports/app/gallery/gallery.component.scss";
@import "./imports/app/who-we-are/who-we-are.component.scss";
@import "./imports/app/about/about.component.scss";
@import "./imports/app/auth/login.component.scss";
@import "./imports/app/available/available-form.component.scss";
@import "./imports/app/available/available-list.component.scss";
@import "./imports/app/available/available-upload.component.scss";
@import "./imports/app/contact/contact.component.scss";
@import "./imports/app/nsb-services/nsb-services.component.scss";
@import "./imports/app/social/social.component.scss";
@import "./imports/app/synopsis/synopsis.component.scss";
@import "./imports/app/v3rewind/custom-nav/custom-nav.component.scss";
@import "./imports/app/v3rewind/media/media.component.scss";
@import "./imports/app/v3rewind/press/press.component.scss";
@import "./imports/app/v3rewind/profiles/profiles.component.scss";
@import "./imports/app/v3rewind/sponsors/sponsors.component.scss";
@import "./imports/app/v3rewind/verseatility/v3.component.scss";
@import "./imports/app/6st/custom-nav/custom-nav.component.scss";
@import "./imports/app/6st/six-strange-tales/six-strange-tales.component.scss";
@import "./imports/app/6st/intro/intro.component.scss";
@import "./imports/app/6st/synopsis/synopsis.component.scss";
@import "./imports/app/6st/footer/footer.component.scss";
@import "./imports/app/wvoe/wvoe.component.scss";
@import "./imports/app/footer/footer.component.scss";

html, body {
  height: 100%;
  overflow-x: hidden;
}
 
body {
  background-color: $color1;
  font-family: 'Helvetica neue', sans-serif;

  a {
  	color: $color3;
  }

  a:hover {
		color: $color4;
	}
}

.wrapper {
	padding: 0;
	margin: 0;
}

.full-width { 
	width: 100vw;
}

.max-30 { 
	max-width: 30%;
}

.clearfix {
  display: block;
  
  clear: both;
}

.hide {
	display: none;
}

.cursor {
	cursor: pointer;
}

available-form {
	float: left;
	width: 100%;

  .form-inline label {
  	justify-content: flex-start;
  }
	
	.form-inline {
	  display: block;

	  .form-control {
	  	width: 100%;
	  }
	}
}

.btn-outline-success {
	color: $color4;
	border-color: $color4;
}

.links .form-control {
  margin-bottom: .5rem;
}

login-buttons .dropdown-toggle::after {
	display: none;
}

.login-buttons .content-container {
	left: -230px !important;
}