<h3 class="pt-3 pb-0">Upload Item Information</h3>
<ul class="available-update-container">
	<li class="drop-image">
		<div fileDrop 
				 [ngClass]="{'file-is-over': fileIsOver, 'file-uploading': uploading}"
				 (fileOver)="fileOver($event)"
				 (onFileDrop)="onFileDrop($event)">
			<div>Drop an image here</div>
		</div>
	</li>
	<li>
		<div *ngIf="thumbs" class="thumbs">
			<div *ngFor="let thumb of thumbs | async" class="thumb">
				<img [src]="thumb.url  | safe: 'resourceUrl'" height="60" />
			</div>
			<div class="clear"></div>
		</div>
	</li>
</ul>