<div class="container-fluid mast">
	<div class="row">
		<div class="col-md-12">
			<custom-nav></custom-nav>
		</div>
	</div>
</div>
<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-12">
			<h3>Contact</h3><hr />
			<p>
				For all inqueries: 
				<a href="mailto:team@sixstrangetales.com?Subject=Six%20Strange%20Tales%20inquiry" target="_top">team@sixstrangetales.com</a>
			</p>
			<p>
				Follow 6ST on Twitter: <a href="https://twitter.com/SixStrangeTales" target="_blank">@SixStrangeTales</a>
			</p>
			<p>
				Bookings and Events: <a href="mailto:team@canikickit.tv?Subject=Individual%20Eleven%20booking%20request" target="_top">team@canikickit.tv</a>
			</p>
			<hr />
		</div>
	</div>
</div>
<footer></footer>