<div class="container-fluid mast">
	<div class="row nav-container">
		<div class="col-md-12">
			<custom-nav></custom-nav>
		</div>
	</div>
	<div class="row bg-black">
		<div class="col-md-12 pt-1">	
			<social></social>
		</div>
	</div>
</div>
<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-12">
			<h1 class="txt-black">Contact</h1>
			<hr />
			<p class="txt-black">
				Inquiries: <br />
				<a class="txt-black" target="_blank" href="mailto:team@canikickit.tv?Subject=NSB%20inquiry">team@canikickit.tv</a>
			</p>
			<p class="txt-black">
				For all press or sponsorship related inqueries: <br />
				<a class="txt-black" href="mailto:team@canikickit.tv?Subject=NSB%20Press%20or%20Sponsorship%20inquiry" target="_top">team@canikickit.tv</a>
			</p>
			<p class="txt-black pb-4">
				Social Media: <br /> IG -
				<a class="txt-black" target="_blank" href="//instagram.com/novelty_soundbytes">@novelty_soundbytes</a>
			</p>
		</div>
	</div>
</div>
<footer></footer>