@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "{}/node_modules/bootstrap/scss/_navbar.scss";
@import "{}/client/imports/app/colors.scss";

.navbar {
	background-color: transparent; 
	padding-left: 0;
	padding-bottom: .1rem;

	button {
		background-color: transparent;
	}

	.container-fluid {
		padding-left: 0;
	}

	a.nav-link.pl-0:nth-child(1) {
		padding-left: 3.3rem !important;
		margin-top: -.4rem;
	}

	a.nav-link {
		color: $color1 !important;
	  background: url(/img/icon-nsb.png) no-repeat;
	  background-size: 1.9rem 1.9rem;
    background-position: 1rem;
    padding-left: 3.3rem;
	}

	a.nav-link:hover {
	  color: $nsb-light !important;
	  background: url(/img/icon-nsb-light.png) no-repeat;
	  background-size: 1.9rem 1.9rem;
    background-position: 1rem;
	}

	a.read {
		background: url(/img/icon-reading-invert.png) no-repeat;
	  background-size: 1.9rem 1.9rem;
    background-position: 1rem;
		padding-left: 3.3rem;
	}

	a.visuals {
		background: url(/img/icon-eyeglasses.png) no-repeat;
	  background-size: 1.9rem 1.9rem;
    background-position: 1rem;
		padding-left: 3.3rem;
	}

	a.music {
		background: url(/img/icon-music.png) no-repeat;
	  background-size: 1.9rem 1.9rem;
    background-position: 1rem;
		padding-left: 3.3rem;
	}

	a.buy-invert {
		background: url(/img/icon-buy-invert.png) no-repeat;
	  background-size: 1.9rem 1.9rem;
    background-position: 1rem;
		padding-left: 3.3rem;
	}

	a.instagram {
		background: url(/img/social/instagram.png) no-repeat;
	  background-size: 1.9rem 1.9rem;
    background-position: 1rem;
		padding-left: 3.3rem;
	}

	a.nav-link.active {
		color: $nsb-light !important;
	}

	.form-control {
		color: $color4;
	}

	.title {
		width: 15rem;
    height: 4rem;
		background: url(/img/title.png) no-repeat;
		-webkit-background-size: contain;
	  -moz-background-size: contain;
	  -o-background-size: contain;
	  background-size: contain;
	  margin-left:10px;
	}

	.btn-outline-success {
		color: $color4;
		border-color: $color4;
	}

	span#search {
	  width: 100%;

		.form-control, button {
			background-color: #fff;
			color: dimgrey;
			border-color: dimgrey;
		}

	  .form-control {
	    width: 70%;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
	  }

	  button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	  button:hover {
	    color: $color1;
	    background-color: $nsb-light;
	    border-color: $nsb-dark;
	    cursor: pointer;
	  }
	}
}

.navbar-toggleable-md {
	flex-direction: row;
	text-align: left;


	ul.navbar-nav {
		width: 100%;
	}

	.navbar-nav .nav-link {
		padding-left: 3.3rem;
		padding-right: 1rem ;
	}

	.navbar-collapse {
		background: url(/img/nsb/bg3.jpg) repeat;
		border-bottom: 1px solid $color1;
		position: absolute;
		z-index: 1;
		width: 21.6rem;
		margin-top: 28.5rem;
		padding-left: 1rem;
		border-image: url(/img/nsb/metal.bmp) 100 23/43px 0 repeat;
		box-shadow: 0 3px 9px black, inset 0 0 9px white;
	}
}

@media (min-width: 992px) {

	.home .navbar-toggleable-md ul.navbar-nav {
		padding-top: 1rem;
	}

	.mast .navbar-toggleable-md .navbar-collapse {
		margin-top: 10rem;
	}

	.mast .navbar-toggleable-md span#search {
		margin-top: -1.1rem;
	}

	.navbar-toggleable-md {
		width: 100%;
		padding-right: 0;

		.container-fluid {
			width: 100%;
			padding-right: 0;
		}

		.navbar-toggler, social {
			display: none;
		}

		ul.navbar-nav {
			width: 70%;
			flex-direction: row;
		}

		a.nav-link {
			background-image: none;
			line-height: 1.7rem;
		}

		a.nav-link.pl-0:nth-child(1) {
			padding-left: 0 !important;
			margin-top: 0;
		}

		a.nav-link:hover {
		  color: $nsb-light !important;
		  background: url(/img/icon-nsb-light.png) no-repeat;
		  background-size: 1.6rem 1.6rem;
	    background-position: 1.4rem .6rem;
		}

		a.nav-link.no-hover:hover {
		  color: $nsb-light !important;
		  background: none;
		}

		a.read {
			background: url(/img/icon-reading-invert.png) no-repeat;
		  background-size: 1.6rem 1.6rem;
	    background-position: 1.4rem .6rem;
			padding-left: 3rem;
		}

		a.visuals {
			background: url(/img/icon-eyeglasses.png) no-repeat;
		  background-size: 1.6rem 1.6rem;
	    background-position: 1.4rem .6rem;
			padding-left: 3rem;
		}

		a.music {
			background: url(/img/icon-music.png) no-repeat;
		  background-size: 1.6rem 1.6rem;
	    background-position: 1.4rem .6rem;
			padding-left: 3rem;
		}

		a:no-hover {
			background: none;
		}

		a.buy-invert,
		a.instagram {
			display: none;
		}

		span#search {
			width: 30%;
			display: inline-block;

		  .form-control {
		    width: 70%;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-top-right-radius: 1rem;
				border-bottom-right-radius: 1rem;
				height: 2rem;
		  }

		  button {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-top-left-radius: 1rem;
				border-bottom-left-radius: 1rem;
				height: 2rem;
				line-height: 1rem;
			}
		}

		.title {
			position: absolute;
			width: 33rem;
			height: 8rem;
			top: 4rem;
			left: 27%;
		}

		.navbar-collapse {
			background: none;
			border-bottom: none;
			width: 100%;
			box-shadow: none;
			border-image: none;
			display: flex !important;
			flex-direction: row;
			margin-top: 2.5rem;
		}
	}
}

@media (min-width: 400px) {
	.navbar-toggleable-md {
		padding-top: 2rem;
	}

	.navbar-nav {
		margin-top: .5rem;
	}
}

@media (min-width: 600px) {
	.navbar-toggleable-md {
		padding-top: 5rem;
	}

	.navbar-nav {
		margin-top: .5rem;
	}
}

@media (min-width: 750px) {
	.navbar {
		a.nav-link.pl-0:nth-child(1) {
			margin-top: .1rem;
		}
	}
}

@media (min-width: 900px) {
	.navbar-toggleable-md {
		padding-top: 9rem;
	}
}

@media (min-width: 1200px) {
	.navbar-toggleable-md {
		padding-top: 12rem;
	}
}

@media (min-width: 1900px) {
	.navbar-toggleable-md {
		padding-top: 12rem;
	}
}