@import "../colors";
@import "../fonts";
@import "../backgrounds";

.home {
	background-color: $color1;
	width: 100%;
	color: $color1;

	.nav-container {
		border-bottom: 1px solid #fff;
		background-color: $color4;
		background: url(/img/nsb/nSbHeader.png) no-repeat center center;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  text-align: center;
	}

	img {
		vertical-align: top;
	}

	.content {
		.content {
			overflow: hidden;
			display: table;

			.latest {
				background-color: $color1;
		    width: auto;
		    padding: .5rem 2.2rem 0.1rem 1rem;
		    -moz-clip-path: polygon(0% 0, 85% 0, 100% 100%, 0 100%);
		    -o-clip-path: polygon(0% 0, 85% 0, 100% 100%, 0 100%);
		    -webkit-clip-path: polygon(0% 0, 85% 0, 100% 100%, 0 100%);
		    clip-path: polygon(0% 0, 85% 0, 100% 100%, 0 100%);
			}

			.available-now {
				background-color: $color2;
		    width: auto;
		    padding: 0.5rem 1rem 0.1rem 2.3rem;
		    -moz-clip-path: polygon(0% 0, 100% 0, 100% 100%, 15% 100%);
		    -o-clip-path: polygon(0% 0, 100% 0, 100% 100%, 15% 100%);
		    -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 15% 100%);
		    clip-path: polygon(0% 0, 100% 0, 100% 100%, 15% 100%);

		    h3 {
		    	color: $color1;
		    }
			}

			.featured {
				display: inline-block;

				p { margin-bottom: 0; }
				a { color: $red; }
				a:hover { color: $nsb-light; }
			}

			.tag {
				color: $nsb-light;
			}

			.list-group {
				width: 33%;
			}

			.list-group-item {
				background-color: transparent;
				font-size: .9rem;
			}
		}

		div {
			width: 100%;
			padding-bottom: .05rem;
			padding-top: .15rem;

			span {
				display: flex;
		    justify-content: flex-start
			}
		}

		div.max-30 {
			max-width: 25%;
		}
	}

	.footer {
		padding-top: 0;
	}
}

@media (min-width: 992px) {

	.home {
		.content {
			div {
				padding-top: 1.2rem;
				padding-bottom: 0;

				span {
			    margin-bottom: 2rem;
				}
			}

			.featured {
				width: 100%;
				
				h2 {
		    	font-size: 1.3rem;
		    	width: 100%;
		    }

		    p { font-size: 1.2rem; }
		    p.footnote { font-size: .8rem; }

		    .max-60 {
		    	max-width: 60%;
		    }
			}
		}
	}
}