<div class="content cta">
	<a href="https://www.instagram.com/v3rewind/" target="_blank">
		<img src="/img/social/instagram.png" width="25.7" height="25.7" alt="instagram"/>
	</a>
	<a href="https://soundcloud.com/nsbweb" target="_blank">
		<img src="/img/social/soundcloud.png" width="50" height="28.5" alt="soundcloud"/>
	</a>
	<a href="https://www.youtube.com/watch?v=rqG04ey5U0c&list=PL4uZgjTFf_UcYxrIEaM9vqVyJZtpVmZUp" target="_blank">
		<img src="/img/social/youtube.png" width="66.5" height="30" alt="youtube"/>
	</a>
	<a href="https://vimeo.com/channels/v3rewind" target="_blank">
		<img src="/img/social/vimeo.png" width="30" height="30" alt="vimeo"/>
	</a>
	<a href="https://www.facebook.com/v3rewind/" target="_blank">
		<img src="/img/social/facebook1.png" width="32" height="24.18" alt="facebook"/>
	</a>
	<a href="https://www.twitter.com/v3rewind/" target="_blank">
		<img src="/img/social/twitter-white.png" width="28" height="28" alt="twitter"/>
	</a>
	<span>#V3REWIND</span>
</div>