<div class="container-fluid mast">
	<div class="row">
		<div class="col-md-12">
			<custom-nav></custom-nav>
		</div>
	</div>
</div>
<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-12">
			<h3>Merchandise</h3><hr />
			<h4>Coming Soon...</h4>
			<p>For now click on the <a [routerLink]="['/link/']">Buy Now</a> link to find out where Six Strange Tales is available or 
			<a [routerLink]="['/link/']">click here</a></p>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><a [routerLink]="['/list/']">> Buy Now</a></p>
			<hr />
		</div>
	</div>
</div>
<footer></footer>