<div class="container-fluid mast">
	<div class="row nav-container">
		<div class="col-md-12">
			<custom-nav></custom-nav>
		</div>
	</div>
	<div class="row bg-black">
		<div class="col-md-12 pt-1">	
			<social></social>
		</div>
	</div>
</div>
<div class="container-fluid who-are-we">
	<div class="row">
		<div class="col-md-12 content">
			<h1 class="txt-black">Who We Are</h1>
			<hr />
			<p class="tag">Rebuilding Inspiration through Innovation</p>
			<p class="txt-black pb-2"><b>NOVELTY SOUNDBYTES Inc</b>, incorporated March 2020, provides a growing catalog of products and services. NSB works in the area’s of technology, multi-media and gaming. Our main focus is solutions services, that is, analyzing businesses and offering solutions to propel you to your next level of success.</p>
			<p class="txt-black">Recently we have decided to increase social and public awareness of our high quality work and the NSB logo. Where ever you see the NSB Logo expect the highest quality.
			</p>
			<p><b>Milestones</b></p>
			<p>
				NSB started out in the early 2000’s as small 3 person film company working for Screen Gems. We worked on commercial television projects such as K-Mart with Rosie O’Donnell, Nissan Pathfinder, Coca Cola, Tasters Choice and many more. We’ve done music video’s for Dave Mathews Band, Mobb Deep, Tribeca-Grand and others. Collectively NSB has done 40+ such projects. 
			</p>
			<p>	In the late 2000’s, Randolph ‘Indie’ Lewis, President of Novelty Soundbytes Inc, began to take the company into the technology space first working for Prime Visibility, coding and learning SEO. Later he went on to help build a robust CRM from scratch resulting in a $90mm buyout of the firm Campus Food to Grubhub. The stock options for that deal made for a handsome payout. Mr. Lewis repeated the method resulting in a $400mm buyout of Business Insider to Axel Springer, another stock options payout. He went on to build many other Applications with companies such as BD, where he became the 1st developer to begin the technology era at the 150 year old institution which lives on to this day. Other notable corporations he built forward thinking Apps for are Conde Nast, New York Stock Exchange and Olay to name a few. Each time still representing the Novelty Soundbytes brand though NSB was not an incorporated company during the time.
			</p>
			<p>In 2016, NSB released its very first film ‘VerseAtility III: Rewind’ distributed by Dogsled distribution. This film features an all star cast as it related to a regional magazine based out of Norfolk. VA. Shortly after, NSB released a book, a psychological thriller called ’Six Strange Tales’ and decided to turn it into a screen play. After releasing an adult game, still working in technology, the company decided maybe its time establish itself as a corporation. 
			</p>
			<p>To test the waters, in 2018, Indie began working with a Philadelphia Band, directing a music video for them under the banner of NSB. A newly designed website, logo and fresh ideas made it work resulting in a #1 hit on college radio. NSB invented the first Visual Mixtape at the time, released on the WhoMag, the #1 platform for Hip-Hop on Roku and Amazon Firestick around the world.
			</p>
			<p>Late 2019, NSB decided to test the magic again by working with a small radio station with a historic background in North Carolina, WVOE. The goal is to propel this 60 year old station into the future, establishing them as a State Landmark, create a collection of work to be stored in the Smithsonian and potentially the Library of Congress if we’re lucky ;)
			</p>
			<p>Spring 2020, NSB has been fully incorporated with the primary objectives of technology, product sales, multi-media initiatives. 
			</p>
			<p><b>Mission</b></p>
			<p>
				Rebuilding Inspiration Through Innovation
			</p>
			<p><b>What other companies could you compare Novelty Soundbytes to?</b></p>
			<p>
				Walt Disney is a lifestlye company. They cater to families, children, sports enthusiasts and of recent years the superhero genre. Where did they begin? How did they start off? Donda is a company founded by Kanye West. Do you remember what Adidas looked like before Kanye West? Consider Novelty Soundbytes when thinking along these lines. Understand the hard work, dedication, budgets and talent when you see the NSB logo. Clearly we are not saying we are the size of a Walt Disney, but we are here working. Thanks for checking us out.
			</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<p>
				<a class="more-dark" [routerLink]="['/v3rewind/']">
					<img src="/img/icon-eyeglasses-invert.png" width="30" height="30" />
				  Film
				</a>&nbsp;&nbsp;
				<a class="more-dark" [routerLink]="['/six-strange-tales/']">
					<img src="/img/icon-reading.png" width="30" height="30" />
				  Book
				</a>
			</p>
		</div>
	</div>		
</div>
<footer></footer>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="w-100 text-center pt-3">
				<img src="/img/nsb/scenes/tech/tech.png" width="30" height="30" alt="Tech Logo">
				Tech Stack for this Site
			</h3>
			<ul class="clients text-center ml-0 pl-0">
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/html5.png" width="130" alt="html5 Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/Bootrap4.png" width="100" alt="Bootrap4 Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/sass.png" width="200" alt="SASS Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/angular2_typescript_logo.png" width="200" alt="Angular2 Typescript Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/MongoDB.png" width="300" alt="MongoDB Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/mini-mongo.png" width="300" alt="Mini-Mongo Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/meteor.png" width="200" alt="Meteor Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/tech/wslogo.png" width="100" alt="Web Socket Logo">
				</li>
			</ul>
		</div>
		<h2 class="text-center w-100">Currently supporting Chrome and Safari</h2>
	</div>
</div>			