<div class="container-fluid mast six-strange-tales-common">
	<div class="row">
		<div class="col-md-12">
			<sst-custom-nav></sst-custom-nav>
		</div>
	</div>
</div>
<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-12">
			<h3>About the Author</h3>
			<hr />
			<p><b><i>Individual Eleven</i></b> is a rare breed of author. This work was created when he decided that he would write down his bad dreams at night. Through that process he concocted some of the darkest stories driven by the depths and inner demons of one human mind.</p>

			<p>Actually, <b><i>Indie</i></b> got his start as a musician later transitioning into the world of film and television producing what he calls artistic renditions of other peoples greed. Writing has been an off and on love affair, which eventually turned into a passion as this particular project developed. Once stating, 'I think this book is going to be pretty good' <b><i>Individual Eleven</i></b> stepped outside of himself and immersed into these characters, which started out as an amalgam of different dreams, thoughts and ideas into one complex and coherent title 'Six Strange Tales'. </p>

			<p>His roots trace back to an old Indian reservation in Shinnecock Hills, NY. Later in his adult life he moved to California where much of his family moved to and scattered across the state. He's a bit of a recluse so it's difficult to get him to go out into the public eye as he feels he's entertained the masses anonymously for years and would like to continue doing so. Writing is therapeutic for Eleven.</p>

			<p>Ultimately, <b><i>Individual Eleven's</i></b> goal is to write more books and turn Six Strange Tales into a film where he can Direct, Produce and Score.
			<hr /> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				<a [routerLink]="['/list/']">
					<img src="/img/icon-buy.png" width="30" height="30" alt="Buy Icon" />
				 	Buy Six Strange Tales Now. 
				</a>
			</p>
			<hr />
		</div>
	</div>		
</div>
<sst-footer class="span-tag"></sst-footer>
<footer></footer>