@import "../colors";
@import "../fonts";

.footer {
	background-color: $color2;
	margin-top: .5rem;
	padding-top: 1rem;

	a { 
		color: $color1; 

		&:hover { color: $nsb-light; }
	}

	ul {
		padding-bottom: 1rem;
	}
}