<div class="container-fluid mast">
	<div class="row">
		<div class="col-md-12">
			<custom-nav></custom-nav>
		</div>
	</div>
</div>
<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-12">
			<h3>Introduction</h3>
			<hr />
			<p>Six Strange Tales is a complex and intertwined series of stories intricately woven around the fates of a small community of characters. Quentin Tarantino and Vincent Gallo come to mind as the plot twists and turns through alternating time periods in the lives of these anti-heroes, sadists, monsters and villains. This book may be the best noir literary work published in recent history. </p>
			<p>Author, Individual Eleven, actually had these nightmares, wrote them down at dusk, elaborated and shared them with all of us. The book touches on subject matter such as gore and violence, mystery, sex, purgatory, the dangers of drug abuse and even androgyny. </p>
			<p>The act opens during the college years of a group of friends and evolves into the background of one poor soul as we engage with their vulnerabilities and strength in 'Oh, Tammy'. Next we enter the home life of Neicy to discover a sick and twisted web of deceit and morbid trickery. As you thumb through the pages of these stories imagine a man having these disturbing dreams and then letting the world in on his grimmest fears. Six Strange Tales will have you questioning the neighbor, family and even your own moral fiber.<p>

			<p>If the question, what lurks in the darkest corners of your psyche intrigues then this book is for you!</p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<p><a [routerLink]="['/synopsis/']">> Synopsis</a></p>
			<hr />
		</div>
	</div>		
</div>
<footer></footer>