<div class="container-fluid mast">
	<div class="row nav-container">
		<div class="col-md-12">
			<custom-nav></custom-nav>
		</div>
	</div>
	<div class="row bg-black">
		<div class="col-md-12 pt-1">	
			<social></social>
		</div>
	</div>
</div>
<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-12">
			<h1 class="txt-black">Services</h1>
			<hr />
			<p class="txt-black"><b>Technology -</b> we use the latest Tech Stack to build an Application that will suite your needs.</p>
			<p class="txt-black"><b>Multi-Media -</b> let us know your Goals and Problems and we'll let you see your Goals and Solutions.</p>
			<p class="txt-black"><b>Customizable -</b> let us know what you’re trying to do and we’ll work with you, including strategizing for success, brand building and consulting.</p>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				<a class="txt-black" [routerLink]="['/contact/']">
					<img src="/img/icon-nsb-invert.png" width="30" height="30" alt="NSB Icon">
				  Contact
				</a>
			</p>
		</div>
	</div>
</div>
<footer></footer>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="w-100 text-center pt-3">Your Trusted Partner</h3>
			<ul class="clients text-center ml-0 pl-0">
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/assembly-large.png" width="100" alt="Assembly Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/BD.png" width="100" alt="BD Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/black-dog-films.png" width="100" alt="Black Dog films Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/business-insider.png" width="100" alt="BI Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/christies.png" width="100" alt="Christies Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/coca-cola.png" width="100" alt="Coca-Cola Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Columbia_Records.png" width="100" alt="Columbia Records Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/conde.png" width="100" alt="Conde Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/DMAS69.jpg" width="100" alt="Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Fox_Sports.png" width="100" alt="Fox Sports Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/frankie-cutlas.jpg" width="100" alt="Frankie Cutlas Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/fugees-logo.png" width="100" alt="Fugees Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/gq.png" width="100" alt="GQ Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/grubhub.png" width="100" alt="Grubhub Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/HFH.png" width="100" alt="Harlem FIlm House Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/honeywell.png" width="100" alt="Honeywell Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Jive_Records.png" width="100" alt="Jive Records Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Kmart.png" width="100" alt="Kmart Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/lancome-paris.jpg" width="100" alt="Lancome Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/levi500.png" width="100" alt="levi500 Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Local_Wisdom.png" width="100" alt="Local Wisdom Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/MOBB-DEEP.png" width="100" alt="MOBB DEEP Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/MyPublisher.png" width="100" alt="MyPublisher Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/nissan.png" width="100" alt="Nissan Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/NY_Stock_Exchange.png" width="100" alt="NY Stock Exchange Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/olay-logo.png" width="100" alt="Olay Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/pizza-hut.jpg" width="100" alt="Pizza Hut Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/playbill.png" width="100" alt="Playbill Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/razor-n-tie.gif" width="100" alt="razor-n-tie Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Screen_Gems.png" width="100" alt="Screen Gems Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/shelly-bay.jpg" width="100" alt="Shelly bay Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Sony_Music_Entertainment.png" width="100" alt="Sony Music Entertainment Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/SpaFinder.png" width="100" alt="SpaFinder Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/super-book-deals.jpg" width="100" alt="Super book deals Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/tasterschoice.png" width="100" alt="Tasters Choice Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/The_Gap_logo_1985.png" width="100" alt="The Gap Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Tommy_Boy_Logo.jpg" width="100" alt="Tommy Boy Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/UBS_Logo.png" width="100" alt="UBS Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Universal_Studios.png" width="100" alt="Universal Studios Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/vanity_fair.png" width="100" alt="Vanity Fair Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Warner_Bros.png" width="100" alt="Warner BrosLogo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/Warner_Music_Group.png" width="100" alt="Warner Music Group Logo">
				</li>
				<li class="align-middle pr-4">
					<img src="/img/nsb/scenes/services/who-mag.png" width="100" alt="Who Mag Logo">
				</li>
			</ul>
		</div>
	</div>
</div>