<div class="container-fluid wvoe">
	<div class="row nav-container">
		<div class="col-md-12">
			<wvoe-custom-nav></wvoe-custom-nav>
		</div>
	</div>
	<div class="row content mt-3 pt-3">
		<div class="col-md-12">	
			<hr />
			<h4>
				<b>SPECIAL THANKS to the Smithsonian Institute and AAAMC Indiana University</b>
			</h4>
			<hr />
			<p class="txt-black">"WVOE: the Voice of Ebony" is a documentary film about African American ownership in Radio. Learn the History.</p>
			<div id="wvoemapid"></div>
			<hr />
			<div id="blurb" [(innerHTML)]="blurb"></div>
			<hr />
			<p class="text-center txt-black">TRUSTED PARTNERS</p>
			<ul class="clients text-center ml-0 pl-0">
				<li class="align-middle pr-4">
					<a class="more-dark" href="https://www.si.edu/exhibitions/jazz-and-more-black-broadcast-pioneers:event-exhib-2803" target="_blank"><img src="/img/wvoe/smithsonian-logo.png" width="200" alt="Smithsonian Logo" align="left" /></a>
				</li>
				<li class="align-middle pr-4">
					<a class="more-dark" href="https://harlemfilmhouse.org/" target="_blank"><img src="/img/wvoe/hfh.png" width="200" alt="Harlem Film House Logo" align="left" /></a>
				</li>
				<li class="align-middle pr-4">
					<a class="more-dark" href="https://aaamc.indiana.edu/Collections/Digital-Exhibits#:~:text=Music%20and%20Culture-,Golden%20Age%20of%20Black%20Radio%20%2D%20Part%201%3A%20The%20Early%20Years,a%20new%20sense%20of%20community." target="_blank"><img src="/img/wvoe/iu-logo.png" width="200" alt="Indiana University Logo" align="left" /></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<footer></footer>
