<div class="container-fluid home press">
	<div class="row nav-container">
		<div class="col-md-12">
			<v3-custom-nav></v3-custom-nav>
	  	<img class="v3-logo" src="/img/v3rewind/VerseAtility_White-Gray.png" width="50%" alt="V3Rewind Logo" />
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="txt-black pt-2 pb-2 mb-0">
				Press 
				<img class="pull-right ml-2 mt-2" src="/img/icon-nsb-invert.png" width="30" height="30" alt="NSB Icon" />
				<img class="pull-right mt-2" src="/img/icon-reading.png" width="30" height="30" alt="Reading Icon" />
			</h1>
			<hr class="mt-0" />
			<h3>Latest News</h3>
			<ul class="latest">
				<li>
					<p class="txt-black"><b>Historical by Rhyme Va-Lor featuring Sadat X of Brand Nubian </b> featured in the new Promo for VerseAtility III: Rewind ahead of the screening for the Hip-Hop Film Festival next Saturday. August 3rd 12 NOON. Airing now on <b>Revolt TV</b>, look for it.
					<br />Looking to attend the screening <a class="txt-black" href="https://hiphopfilmfestival.org/projects/versatility-rewind/" target="_blank">click here</a>.</p>
				</li>
				<li><p class="txt-black"><b>Hard On in Walmart by Rubar </b> available on <a class="txt-black" href="https://soundcloud.com/rubar/rubar-walmart-mixdown-2-w-leveling" target="_blank">SoundCloud</a>, link below. Also see Rubar in VerseAtility III: Rewind (beginning scene). Check it out here: <a class="txt-black" href="https://www.noveltysoundbytes.com/v3rewind/media">Rubar</a></p></li>
				<li><p class="txt-black"><b>August 15th through Sept 15th Hall Mills Network </b> will be airing V3Rewind on its Roku Channel complete with bouns footage, tune in.</p></li>
				<li><p class="txt-black"><b>August 4th and 11th VTJV</b>  will be doing a Special Presentation feature film showing of <i>VerseAtility III: Rewind</i> on Comcast CH 90 and CH 13 in the Northern / Central California area as well and Atlanta and Hawaii, 2x on the same day in select locations.</p></li>
				<li><p class="txt-black"><b>Saturday, August 3rd 12 Noon</b> V3rewind will be screening at the National Black Theater in Harlem, <b>sponsored by Revolt TV </b>and <b>BET.</b></p></li>
				<li><p class="txt-black"><b>Rhyme Va-Lor - Historical</b> now available on all streaming platforms</p></li>
				<li><p class="txt-black"><b>Jamaica House</b> can now be seen for a limited time on <a  class="txt-black" href="http://www.247films.tv" target="_blank">247films.tv</a> courtesy of Hip-Hop Film Festival NYC. Check it out. "This film", directed by Al Gragg, produced by Individual Eleven, "is currently in discussion with <b>Hip-Hop Icon Ice T</b> for possible reshoots and narration. Be on the look out for more exciting news 2019".</p></li>
				<li><p class="txt-black"><b>Rhyme Va-Lor - Another Sleepless Night</b> now available on all streaming platforms, vinyl available via Dope Folks Records</p></li>
				<li><p class="txt-black">Be on the lookout for the new documentary on <b>Long Island Hip-Hop: 6th Borough</b> soon to appear online featuring <b>Horror City, EPMD, Rakim, Public Enemy, De La Soul, Nate Tinsley</b> and many others.</p></li>
				<li><p class="txt-black"><b>Noveltysoundbytes presents</b> another 30 minutes of piff on <b>Comcast channel 90 VJTV</b>. If you're in the California Bay area check it out. The show features a sneak preview of <b>'Jamaica House'</b>, <b>Horror City featuring RZA of Wu-Tang Clan</b> music video 'The Abbott Master', Tribeca-Grand music video special Dirctors Cut featuring Individual Eleven, <b>Tribeca-Grand</b> Sirius XM interview with <b>Static Selektah</b>, <b>Double Trouble 'Wild Style'</b> movie remix, <b>40 BARRS</b> 'Chun Li' music video, a musical medily by <b>Hard Hittin Harry</b></p></li>
				<li><p class="txt-black"><b>Noveltysoundbytes presents</b> 30 minutes of piff on <b>Comcast channel 90 VJTV</b>. If you're in the California Bay area check it out. The show features the first 15 minutes of VerseAtility III: Rewind, a sneak preview of 'Jamaica House', music video <b>'Bang'</b> by Rubar and a 7 minute clip of <b>'WVOE - the voice of Ebony'</b>, a story about the <b>1st all African American owned radio station</b>.</p></li>
				<li><p class="txt-black"><b>Wenesdays:</b> 'the Crib' is back with comedian Angus Black <i>Virginia based radio station Hot 102.1(WWHV)</i>. Get involved.</p></li>
				<li><p class="txt-black"><b>Jean Grae</b> goes comicbook shopping courtesy of Marvel, listen as she tells the story of how rapper Pumpkinhead gave her her rap name <b>Classic</b>: <a class="txt-black" href="https://www.youtube.com/watch?v=QtMJ0pDjSZU" target="_blank">Listen hear</a></p></li>
				<li><p class="txt-black">Check out <b>HorrorCity's</b> joint "The Abbot Master" featuring <b>RZA of Wutang Clan</b> <a class="txt-black" href="https://www.youtube.com/watch?v=zwMETB4V0hw" target="_blank">Listen here</a></p></li>
				<li><p class="txt-black">DJ Strez and Mad Skillz (of VerseAtility III: Rewind) have a couple of Bangers on their hands with <b><i>'Chyna Black (f. M. Wreck)–Millie Jack (Uh Uh Uh)'</i></b> and <b><i>'In A Minute'</i></b>. Both songs have been getting rotation on the Sirus XM radio shows and terrestrial. Peep the V3Rewind interview for <i>'In A Minute'</i> and click to check out <a class="txt-black" href="http://premierwuzhere.com/blog/dj-premier-live-headqcourterz-radio-show-playlist-week-july-24-2018/" target="_blank"><b>Dj Premiere's playlist</b></a> for the Dj Strez joint. Special shout to M. Wreck for the assist.<p></li>
				<li><p class="txt-black">Look out for <b>V3Rewind promos</b> very soon including new music video from <b>Rubar</b> (co-star of VerseAtility III: Rewind) <b><i>'Bang'</i></b> on WhoMag. Make sure you get the <b>WhoMag App</b> for <b>Roku, AppleTV</b>, <a class="txt-black" href="https://www.whomagtv.com/" target="_blank"><b>Online</b></a> and select television stations <b>around the world</b>.</p></li>
				<li><p class="txt-black"><b>REWIND:</b> Check out Indie's article in Business Insider on the now <b>classic Netflix show <i>'The Get Down'</i></b>: <a class="txt-black" href="https://www.businessinsider.com/the-get-down-hip-hop-culture-2016-8" target="_blank">Read here</a></p></li>
				<li><p class="txt-black">Individual Eleven directed music video <b>NY-PHI</b> by Tribeca-Grand <i>Direcetors Cut</i> now available on YouTube. <a class="txt-black" href="https://youtu.be/57KXyD30BPY" target="_blank">Check it out Hear</a>. Also check out <b>Rubar</b> (from VerseAtility III: Rewind) music video  <a class="txt-black" href="https://youtu.be/wyiDkwY-l2I" target="_blank">BANG</a></p></li>
				<li><p class="txt-black">VerseAtility II: In Stereo - <a class="txt-black" href="https://tidal.com/album/29466078" target="_blank">NOW ON TIDAL</a></p></li>
				<li><p class="txt-black">Director Individual Eleven <b>live interview</b> with 8 SQUAD Rebel Radio (7/17/18) - with special guest Godchild. <a class="txt-black" href="https://www.facebook.com/8SquadRebelRadio/videos/2017348824976198/" target="_blank">Listen hear</a></p></li>
				<li><p class="txt-black">Norfolk, VA is buzzing around the release of VerseAtility III: Rewind and the return of Frequency Magazine.</p></li>
				<li><p class="txt-black">Promo ads to air on Comcast and VJTV in the Bay Area, Oakland, California with a viewership of 11 million.</p></li>
				<li><p class="txt-black">VerseAtility III: Rewind promo ads are now playing hourly on WhoMagTV app and TV slots in rotation on 18 smart tv's around the world. WhoMag has a viewership of 500,000,000. Find WhoMag on Roku, AppleTV and Google Play. Also check the <a class="txt-black" href="//WhoMagTV.com" target="_blank">Who Mag</a> website.</p></li>
				<li><p class="txt-black mb-0"><b>V3Rewind</b> is now available. Question: How did producer <b>Individual Eleven</b> get No-Malice of <b>the Clipse</b> in the mix. Find out about <b>the early years of the Neptunes</b>. See <b>the first meeting of Stretch Armstrong and Bobitto after not speaking for 20 yrs</b>. Catch a live impromptu performance featuring the Roots, FIREHOUSEBANDDM, Phonte, Jean Grae and many others. Check out <b>VerseAtility III: Rewind</b>. <b>Note:</b> a portion of the proceeds of the film will go towards autism awareness.</p></li>
				<li><p class="txt-black mb-0">Director <b>Indiviual Eleven</b> has directed new music video <b>'NY-PHI'</b> for <b>Tribeca-Grand</b>. The song is a homage to Grammy winning groups Boys 2 Men and Digible Planets. Indie also curated a 45 minute mix called <b>'Ultimate Edition: Tribeca-Grand'</b>, well worth the listen.</p></li>
				<li><p class="txt-black mb-0"><b>'Six Strange Tales'</b> is now being translated to a script, <b>is a film coming?</b></p></li>
				<li><p class="txt-black"><b>'Trump-isms': Is it Him or You? ...coming 4th quarter.</b></p></li>
			</ul>
			<hr />
			<h3>SYNOPSIS</h3>
			<p class="txt-black"><b>VerseAtility III: Rewind</b> is a documentary style moving magazine where artists, Djs, producers, promoters and a mogul discuss topics that are close to their hearts.</p>
			<hr />
			<h3>DIRECTORS STATEMENT</h3>
			<p class="txt-black">I came across Frequency magazine in the late 90’s early 2000’s and discovered an organic network of people, musicians, promoters and the like all functioning out in the locals of Norfolk, Virginia. This was before social media and smart phones. The magazine catered to artist and celebrity interviews however what was most interesting was it seemed as though the folks surrounding the magazine began to create their own social networks, events and functions in such an exclusive way. It appeared very much like a secret society bent on upholding good music and good vibes.</p>
			<p class="txt-black">The magazine ended it’s run in the mid-late 2000’s and as with all things life moved on. One day while I had the good fortune of catching up with Rob Murns (co-creator of Frequency magazine), he told me he had taped all of those old interviews. I drove out to VA and we discussed how far Pharrell and Pusha T came, Jean Grae and other old friends, but mainly we questioned the new music being played today.</p>
			<p class="txt-black">The excitement of looking through all of that great footage as well as the conversation about curating the culture is how this film came about. By now we both have children and we understand the concept of reaching / teaching them through ‘inventive means’. All in all, VerseAtility III: Rewind represents the purist side of the culture, a curation of sorts and a moment to look back at where we came from in order to better understand where we’re going.</p>
			<p class="txt-black">Individual Eleven</p>
			<hr />
			<h3>CREW BIOS</h3>
			<p class="txt-black mt-0 mb-0"><b>INDIVIDUAL ELEVEN - Director, Producer, Writer</b></p>
			<p class="txt-black">Individual Eleven, is a current NYC resident and Long Island native. Indie has worked on over 40 films, commercials and music videos including Mobb Deep, Dave Mathews Band, Changing Faces, Funk Master Flex and various projects under the Screen Gems umbrella including Oil Factory, K-Mart, Nissan, Coca-Cola, Tasters Choice, Lancome and many others.</p>
			<p class="txt-black">Recent projects include a music video for Tribeca-Grand 'NY-PHI' and other digital promo materials for the band, a book titled 'Six Strange Tales' and a well recieved article in the #1 blog site Business Insider on the Nas Produced Netflix special 'The Get Down'.</p>
			<p class="txt-black mb-0"><b>ROB BURNS - Executive Producer</b></p>
			<p class="txt-black">Rob Murns is the co-founder of Frequency Magazine. He funded the magazine via local businesses, distributed it as a free publication and began a journey for not only himself but thousands of lovers of the arts. Frequency magazine, sparked a lot of local talent in the VA area and made Norfolk, VA a hot bed for artist and producers. Ask the Neptunes, the Clipse, Notts or Timberland about the Frequency and listen to the stories they tell. It wasn’t as big as the Source or Vibe magazine but the culture they created around them was certainly special.</p>
			<p class="txt-black">As Executive Producer on the project, Rob provided the archive to make the film possible. He has been integral in decision making and consistently voiced the valuable opinion of keeping a high integrity at all points. Not to be left out, partner and co-creator Eric provided some always stunning visuals along the way.</p>
			<p class="txt-black mb-0"><b>Victoria Inguiz - Video Editor, Associate Producer</b></p>
			<p class="txt-black">Tori worked countless hours to bring this film to life. She’s produced other personal films and currently works as a videographer / photographer for a large online company. Tori works out of her own studio space, has an amazing eye and we could not / would not have created this film without her.</p>
			<p class="txt-black mb-0"><b>Kurt Jennings - Branding</b></p>
			<p class="txt-black">Kurt is a high-end branding specialist. Prior projects include Barnes &amp; Nobles, Becton Dickinson, Metro Company and many many more. Kurt is actively trying to get hired by the NFL to be the Designer who rebrands the Washington Redskins. You should see his portfolio, it’s insane.</p>
			<p class="txt-black mb-0"><b>Bradley Lewis - Business consultant</b></p>
			<p class="txt-black">Bradley is co-partner in East &amp; Pine ent., partner in JDR Designs and business consultant on this project. All business decisions between producers were run through him before final decisions were made. He’s considered the business conscience of the project and has been integral in the creation of this film.</p>
			<p class="txt-black mb-0"><b>Cast Members:</b> Chad Hugo, Stretch Armstrong and Bobbito, Breeze Evahflowin, Jean Grae, FIREHOUSEBANDDM and the Roots, Rubar and many others…</p>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				<a href="/v3Rewind-presspack.pdf" download>
					<button type="button" class="btn btn-primary btn-sm pull-right bg-inverse ml-2 mb-3">Download Press Pack</button>
				</a>
				<a href="/V3Rewind-Media-Deck.pdf" download>
					<button type="button" class="btn btn-primary btn-sm pull-right bg-inverse mb-3">Download Media Deck</button>
				</a>
				<a class="txt-black pr-2" [routerLink]="['/v3rewind/sponsors/']">
					<img src="/img/icon-reading.png" width="30" height="30" alt="Reading Icon" />
				 	Sponors 
				</a>
				<a class="txt-black" [routerLink]="['/contact/']">
				 	Contact
				</a>
			</p>
		</div>
	</div>		
</div>
<footer></footer>