<div class="container-fluid mast">
	<div class="row">
		<div class="col-md-12">
			<custom-nav></custom-nav>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Synopsis</h3>
			<hr />
			<h5>1~ Oh, Tammy</h5>
			<p>Tammy is a young woman attending SUNY college due to an excellerating high school program for students. Cool, yet introverted, all Tammy would like to do is enjoy her new experience, hang out with her friends and take a break from her troubling home life. Unfortunately for Tammy things take a shockly horrific turn.<p>
			<span>
				<a href="https://youtu.be/96AYeCDQlHE" target="_blank">
					<img src="/img/aquicon-youtube-icon-0.png" width="60" height="60" />
				</a>
			</span>
			<hr />
			<h5>2~ Neicy, Call your Mom!</h5>
			<p>Niecy is Tammy's best friend. She lives in a bubble of wealth, comfort, loving friends and personal excellence. Her home life on the other hand is extremely questionable. Meanwhile, Mel, Neicy's new adopted sibling is a gender neutral captive in search of freedom from Neicy's mothers wicked ways.<p>
			<span>
				<a href="https://www.youtube.com/watch?v=MvZrLtm5O5c" target="_blank">
					<img src="/img/aquicon-youtube-icon-0.png" width="60" height="60" />
				</a>
			</span>
			<hr />
			<h5>3~ Break &amp; Enter of the Indestructable Men</h5>
			<p>Ant and Tibbs are Tammy's abomidable brothers. Often too drunken to participate in productive society, these to find a wiley and tragic adventure of their own. The question is tragic for whom??<p>
			<hr />
			<h5>4~ I Used to have a Name</h5>
			<p>As the book is written based on the dreams and nightmares of author, Individual Eleven, this story takes place as Tammy is in the womb. Outside of the womb seems to be a troubling, violent and intoxicating world. Is it any less different inside?<p>
			<hr />
			<h5>5~ The Couple: the Wife</h5>
			<p>Kat is Neicy's mom, a professional laywer and psychologist as well as a quite posh and exceptionally party planner. The veil gets lifted in this story as we experience Kat's inner devilishness.<p>
			<hr />
			<h5>6~ The Couple: the Husband</h5>
			<p>Jonesy is Kats husband, Neicy's dad and burgeoning Laywer for a top firm. He may be the most sane of all, but how long will it last??<p>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><a [routerLink]="['/about-the-author/']">> About the Author</a></p>
			<hr />	
		</div>
	</div>
</div>
<footer></footer>